body {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-family: Helvetica, sans-serif;
    background-image: url(06.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;

  }
  
  a {
    color: #000;
  }
  
  /* header */
  
  .header {
    background-color: #fff;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    height: 3.8rem;
    width: 100%;
    z-index: 3;
    position: relative;
  }
  
  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
  }
  
  .header li a {
    display: block;
    padding: 20px 20px;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
  }
  
  .header li a:hover,
  .header .menu-btn:hover {
    background-color: #f4f4f4;
  }
  
  .header .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
  }
  
  /* menu */
  
  .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }
  
  /* menu icon */
  
  .header .menu-icon {
    cursor: pointer;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  
  .header .menu-icon .nav-icon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 23px;
  }
  
  .header .menu-icon .nav-icon:before,
  .header .menu-icon .nav-icon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .header .menu-icon .nav-icon:before {
    top: 5px;
  }
  
  .header .menu-icon .nav-icon:after {
    top: -5px;
  }
  
  /* menu btn */
  
  .header .menu-btn {
    display: none;
  }
  
  .header .menu-btn:checked ~ .menu {
    max-height: 240px;
  }
  
  .header .menu-btn:checked ~ .menu-icon .nav-icon {
    background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .nav-icon:before {
    transform: rotate(-45deg);
    top:0;
  }
  
  .header .menu-btn:checked ~ .menu-icon .nav-icon:after {
    transform: rotate(45deg);
    top:0;
  }
  
  
  /* 48em = 768px @ 16pt font */
  
  @media (min-width: 48em) {
    .header li {
      float: left;
    }
    .header li a {
      padding: 20px 30px;
    }
    .header .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .header .menu-icon {
      display: none;
    }
    .progress-box {
        position: absolute;
        padding: 1rem;
        margin-top: 3% !important;
        margin-left: 35% !important;}
  }

  .progress-box {
      text-align: center;
    position: absolute;
    padding: 1.5rem 3rem;
    margin-top: 8%;
    margin-left: 15%;
    background-color: rgb(233, 233, 233);
    box-shadow: 0 5px 10px rgb(165, 165, 165);
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
  }
  .progress-box img{
      width: 150px;
      height: auto;
  }
  .progress-bar {
    margin-top: 15px;
    overflow: hidden;
    width: 230px;
    height: 1px; /* Can be anything */
    position: relative;
    background: #555;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    padding: 10px;
    box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
  }
  .progress-box h1{
      font-size: 1.6rem;
      font-weight: 600;
      color: rgb(54, 54, 54);
  }
  .pro-text{
    color: rgb(27, 27, 27);
      font-size: 1.1rem;
      font-weight: bold;
      text-align: left;
  }
  .progress-bar span {
    text-align: right;
    width: 90%;
    top: 0;
    font-weight: bold;
    color: #fff;
    padding-right: 19px;
    left: 0;
    display: block;
    height: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px; 
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: rgb(16, 112, 59);
    box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3),
      inset 0 -2px 6px rgba(0, 0, 0, 0.4);
    position: absolute;
    overflow: hidden;
    animation: move 2s linear;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    -webkit-animation: move 2s linear;
  }
  @keyframes move {
    0% {
      width: 0;
    }
    100% {
      position: 100% 100%;
    }
  }

  .one span{
      position: absolute;
      width: 88%;
      background-color: rgb(33, 139, 172);
  }
  .two span{
      position: absolute;
      width: 60%;
      background-color: rgb(238, 169, 40);
  }


  